<nav class="banner">
  <div class="menubutton" panel="none" id="home-button"><%= link_to "Home", root_path%></div>
  <div class="menubutton" panel="about" id="about-button"><%= link_to "About Us", about_path%></div>
  <div class="menubutton" panel="learn" id="about-button"><%= link_to "Study", learn_path%></div>
  <div class="menubutton" panel="news" id="about-button"><%= link_to "News", news_path%></div>
  <div class="menubutton" panel="resources" id="about-button"><%= link_to "Resources", resources_path%></div>
  <div class="menubutton" panel="give" id="about-button"><%= link_to "Give Back", contribute_path%></div>
  <div class="menubutton" panel="account" id="about-button"><%= link_to "Account", account_path%></div>
  <div class="menubutton" panel="navigation" id="about-button"><%= link_to "The Site", navigation_path%></div>
  <form><input type="text"/><input type="submit" value="Search"></form>
</nav>