<% content_for :header do %>
  <h1>Peniel SDA - Navigation</h1>
<% end %>

<header>
<%= render 'sitemap_intro' %>
</header>

<main>
<p><%= link_to "Home", root_path %></p>
<p class="ol_a1">Navigation</p>
	<p class="ol_a2"><%= link_to "Search", nav_search_path %></p>
	<p class="ol_a2"><%= link_to "Popular", nav_popular_path %></p>
	<p class="ol_a2"><%= link_to "Sitemap", nav_map_path %></p>
<p class="ol_a1"><%= link_to "Account", account_path %></p>
	<p class="ol_a2"><%= link_to "Register", account_register_path %></p>
	<p class="ol_a2"><%= link_to "Log In", account_login_path %></p>
	<p class="ol_a2"><%= link_to "Log Out", account_logout_path %></p>
	<p class="ol_a2"><%= link_to "Leave", account_leave_path %></p>
	<p class="ol_a2"><%= link_to "Settings", account_settings_path %></p>
<p class="ol_a1"><%= link_to "About", about_path %></p>
	<p class="ol_a2"><%= link_to "About of Peniel", about_peniel_path %></p>
	<p class="ol_a2"><%= link_to "About of Adventism", about_adventism_path %></p>
	<p class="ol_a2"><%= link_to "About of Christianity", about_christianity_path %></p>
<p class="ol_a1"><%= link_to "Learn", learn_path %></p>
	<p class="ol_a2"><%= link_to "Learn About the Bible", learn_bible_path %></p>
	<p class="ol_a2"><%= link_to "Learn About Science", learn_science_path %></p>
	<p class="ol_a2"><%= link_to "Learn About Health", learn_health_path %></p>
<p class="ol_a1"><%= link_to "News", news_path %></p>
	<p class="ol_a2"><%= link_to "World News", news_world_path %></p>
	<p class="ol_a2"><%= link_to "Church News", news_church_path %></p>
	<p class="ol_a2"><%= link_to "Peniel News", news_peniel_path %></p>
	<p class="ol_a2"><%= link_to "Events", news_events_path %></p>
<p class="ol_a1"><%= link_to "Resources", resources_path %></p>
	<p class="ol_a2"><%= link_to "Media", resources_media_path %></p>
	<p class="ol_a2"><%= link_to "Store", resources_store_path %></p>
	<p class="ol_a2"><%= link_to "Games", resources_games_path %></p>
	<p class="ol_a2"><%= link_to "Links", resources_links_path %></p>
<p class="ol_a1"><%= link_to "Contribute", contribute_path %></p>
	<p class="ol_a2"><%= link_to "Donations and Offerings", contribute_give_path %></p>
	<p class="ol_a2"><%= link_to "Join Us", contribute_join_path %></p>
<p class="ol_a1"><%= link_to "Reference", reference_path %></p>
	<p class="ol_a2"><%= link_to "Contact Us", reference_contact_us_path %></p>
	<p class="ol_a2"><%= link_to "Departments", reference_departments_path %></p>
	<p class="ol_a2"><%= link_to "Web Developer", reference_web_developer_path %></p>
</main>

<% content_for :footer do %>
<% end %>