<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :style if content_for :style %>
  <%= yield :script if content_for :script %>
</head>
<body class="aperature">
<div class="headmainfoot">

<header class="headmainfoot">
<%= yield :header if content_for :header %>
</header>

<main class="headmainfoot">
<%= yield %>
</main>

<footer class="headmainfoot">
<%= :footer if content_for :footer %>
<% if Rails.env.development? %>
<%= debug(params) %>
<pre class="aperature debug">
  <%= yield :debug if content_for :debug %>
</pre>
<% end %>
</footer>

</div>
</body>
</html>